@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* @import '../node_modules/normalize.css/normalize.css'; */

.body {
  font-family: 'Josefin Sans', cursive;
  background-color: #ebabc4;
}

.App-container {
  text-align: center;
}

.App-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  background-image: url('bgHeader.png');
  background-size: cover;
  background-position: center 0;
  height: 15rem;
  padding-top: 1rem;
}

.App-title {
  font-size: 2.75rem;
  margin-top: 0;
}

.searchText {
  font-size: 2.25rem;
}

.emojiInput {
  font-family: 'Josefin Sans', cursive;
  font-size: 2.5rem;
  width: 50%;
  height: 3rem;
  margin-bottom: 2rem;
  border: 0.25rem solid black;
  padding: 10px;
  border-radius: 50px;
}

/* removes border around input  */

*:focus {
  outline: none;
}

.emojiWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 90%;
  margin-bottom: 3rem;
}

.emojiWrapper {
  line-height: 5rem;
}

span.emojiSymbol {
  font-size: 4rem;
}

#audio {
  margin-top: 5.5rem;
}

.search-container {
  margin-bottom: 1em;
}
